services:
  nitro:
    build:
      dockerfile: Dockerfile
      target: dev
      context: .
    volumes:
      - .:/go/src/github.com/0xsequence/identity-instrument
    environment:
      CONFIG: ./etc/identity.local.conf
    ports:
      - "9123:9123"

  ingress:
    build:
      dockerfile: Dockerfile
      target: ingress-dev
      context: .
    volumes:
      - .:/go/src/github.com/0xsequence/identity-instrument
    environment:
      TARGET_HOST: nitro
      TARGET_PORT: "9123"
      LISTEN_ADDRESS: "0.0.0.0:8080"
      SEQUENCE_ECOSYSTEM: "1"
    ports:
      - "8080:8080"

  localstack:
    image: localstack/localstack:3.4
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    env_file:
      - .env
    environment:
      - DEBUG=${DEBUG-}
      - DOCKER_HOST=unix:///var/run/docker.sock
      - DISABLE_CORS_CHECKS=1
      - DISABLE_CUSTOM_CORS_APIGATEWAY=1
      - EXTRA_CORS_ALLOWED_ORIGINS=http://localhost:5173
      - DYNAMODB_SHARE_DB=1
    volumes:
      - "./docker/awslocal_ready_hook.sh:/etc/localstack/init/ready.d/awslocal_ready_hook.sh"
      - "/var/run/docker.sock:/var/run/docker.sock"

  builder-mock:
    build:
      dockerfile: Dockerfile
      target: builder-mock-dev
      context: .
    ports:
      - "9999:9999"
    volumes:
      - .:/go/src/github.com/0xsequence/identity-instrument
