name: Lint

on:
  push:
    branches:
      - "**"

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest

    env:
      VERSION: test

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Ensure version.go exists
        run: make ensure-version
      - name: Run linters
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5
